$icon-color : #c9c9c9;
$hover-colour: #f0f8ff1c;

* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Roboto, Oxygen;
  color: whitesmoke;
  cursor: default;
}
svg{
  fill:  fill="#c9c9c9"!important;
}

h4 {
  
  font-weight: 500;
  font-size: 14px;
}

#background-image {
  background-size: cover;
}

.btn-origanl {    
  padding: 4px;
  border: 0;
  border-radius: 4px;
  background: transparent;
  cursor: pointer!important;
  outline: 0;
  &:hover{
    background: #f0f8ff1c;
  }
  img{
    cursor: pointer!important;
  }
}
.btn-topbar {    
  padding: 4px;
  border: 0;
  border-radius: 1px;
  background: transparent;
  cursor: pointer!important;
  outline: 0;
  &:last-child:hover{
    background: #c42a1c8c;
  }
  &:hover{
    background: #f0f8ff1c;
  }
}

body {
  overflow: hidden;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background img {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -999;
  pointer-events: none;
  user-select: none;
}

/* taskbar */
.theme {
  background-color: rgba(0, 0, 0, 0.4) !important;
  backdrop-filter: blur(32px) !important;
}

.taskbar {
  position: absolute;
  // background-color: rgba(0, 0, 0, 0.4);

  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  z-index: 10;
  justify-content: center;

  // background-color: rgba(243, 243, 243, 0.3);
  // backdrop-filter: blur(32px);
}

.ico {
  width: 26px;
  padding: 10px 7px 2px 7px;

  -webkit-filter: brightness(1.1);
  filter: brightness(1.1);
}

.ico:hover {
  -webkit-filter: brightness(1.2) !important;
  filter: brightness(1.2) !important;
}

.ico:active {
  -webkit-filter: brightness(1.4) !important;
  filter: brightness(1.4) !important;
}

.right {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  right: 0;
  color: #3f3f3f;
}

.right-side {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  right: 0;
  height: 100%;
  width: 15rem;
  color: #3f3f3f;
}

.right-icon {
  width: 1.5rem;
}

.time {
  display: flex;
  flex-direction: column;
  font-size: 0.7rem;
  font-weight: 400;
  text-align: right;
}

.notify {
  width: 2rem;
}

/* video */

#vid {
  width: 100%;
  height: 100%;
}
.show-desktop {
  width: 15px;
  height: 100%;
  border: 0.1px solid transparent;
  // background: rgba(245, 245, 245, 0.233);
  background: transparent;
  position: relative;
  &:hover {
    border-right: 0.1px solid whitesmoke;
    border-spacing: 13px;
  }
}

.wrap {
  padding: 6px 6px;
  transition: 250ms ease;
}
.taskbar-icon-wrap {
  padding: 8px 10px;
  &:hover {
    border-radius: 3px;
    background: #ffffff21;
  // border: solid .1px transparent;
  // background-clip: padding-box;
 }
 &:active{
  animation: Taskber-icon-open 300ms ease-in;
 }
}

@keyframes Taskber-icon-open {
  0%{
    transform: scale(75%)translateY(-3px);
  }
  50%{
    transform: translateY(-3px) scale(100%);
  }
}
/*
0%{
    transform: scale(75%)translateY(-3px);
  }
  50%{
    transform: translateY(-3px) scale(100%);
  }
0%{}
45%{}
90%{}
100%{}
*/



.cover {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.wrap:hover {
  border-radius: 3px;
  background: #f0f8ff1c;
}
#start {
  transition: 300ms ease;
}
#start:active {
  transform: scale(65%);
  filter: brightness(0.5%);
}

.icons {
  margin: 0rem 2rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 6px;
  align-self: center;
  justify-self: center;
  place-content: center;
  // column-gap: 2rem;
}

.icon {
  width: 35px;
}
.icon-name {
  font-size: .83rem;
  
}

.search{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}
.search-box{
  font-size: .83rem;
  padding: 6px 15px;
  padding-left: 3rem;
  text-align: start;
  width: 26rem;
  background: #202225;
  border: 0px;
  outline: 0px;
  border-radius: 5px;
  border-bottom: 2px solid #4cc2ff;
  cursor: text;
  // &::before{
  //   content: url("Resource/SVG/refresh_black_48dp.svg");
  //   position: relative;
  //   left: -1rem;
  // }
}
.search-ico{
  position: absolute;
  top: 1.5rem;
  padding: 10px;
  width: 25px;
  cursor: text;
}


.top-bar {
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
  padding-bottom: 1rem;
}
.recomended {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem; /*padding: 2rem 3rem;*/
}
.recommended-apps {
  display: grid;
  justify-content: start;
  column-gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  min-height: 11rem;
  padding: 0 2rem;
}
.app-info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  text-align: right;
  padding: 0 4px;
}
.app-info p {
  // color: #3f3f3f;
  font-size: 0.7rem;
  
}
.app-text {
  font-weight: 400;
}
.cell {
  display: flex;
  transition: 250ms ease;
  height: 33%;
  align-items: center;
  &:hover{
    border-radius: 3px;
    background: #f0f8ff2e;
  }
}

.account {
  height: 3.5rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 0 2.3rem;
  justify-content: space-between;
  border-top: 1px solid#3f3f3f;
  // backdrop-filter: blur(32px)!important;
  // position: relative;
  bottom: -6rem;
}
.user-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-box img {
  background-size: cover;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  background: #e6e6e633;
}
.user-name {
  padding: 0 0.4rem 0 0.6rem;
  font-size: .83rem;
  
}
.power-options img {
  width: 1.4rem;
  
}

#header {
  display: flex;
  flex-direction: column;
  // background: #f2f1f6;
  // background-color: rgba(0, 0, 0, 0.4) !important;
  // backdrop-filter: blur(32px) !important;
}

.sidebar-item-text{
  font-weight: 200;
  font-size: .8rem;
}
.top-line {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .top-left {
    display: flex;
    align-items: center;
    background: transparent;
  }

  .top-right {
    display: flex;
    align-items: center;
    background: transparent;
  }
}
.top-line img {
  padding: 0 0.5rem;
  width: 1rem;
  height: 1rem;
}
/* #0096FF  - light */
/* #006AB4  - dark */

/* .select {
  background: #f5f6f8;
  border-top: 1px solid #c5c5c5;
  border-right: 1px solid #c5c5c5;
} */

.tab {
  
  display: flex;
  align-items: center;
}
.tab {
  padding: 0 0.8rem;
}
.tab:active {
  background: #0096ff;
}

main {
  width: 100%;
  height: auto;
  padding: 5px;
  text-align: justify;
}
h1 {
  padding-bottom: 5px;
}

.title-icon {
  padding: 0.3rem;
}

.baseline {
  display: flex;
  border-bottom: 1px solid #c5c5c5;
}

.explorer-header{

  background-color: rgba(0, 0, 0, 0.4) !important;
  backdrop-filter: blur(32px) !important;
}

.tab-img {
  width: 1.6rem;
  padding: 1.3rem 0.5rem;
  display: flex;
  opacity: 0.2;
}

#main {
  display: flex;
  background: #191919;
}

.aside {
  padding: 0.5rem 0.5rem;
  margin-bottom: 3rem;
  width: 20%;
  border-right: 1px solid #0000004d;
}

.bar-ico {
  width: 1.2rem;
  padding-right: 0.3rem;
}
.bar {
  display: flex;
  padding: 0.2rem 0;
}

.indent-items {
  display: flex;
  padding: 0.2rem 1rem;
}

.contented {
  width: 70%;
  padding: 0 1rem;
}
.folders,
.localdiscs {
  display: grid;
  row-gap: 0.5rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}
.folder {
  display: flex;
  padding-right: 1rem;
}
.folder-title {
  padding: 0.3rem 0.5rem;
  font-weight: 300;
  font-size: .85rem;
}
.folder-ico {
  width: 3rem;
}

.heading {
  font-weight: 600;
  font-size: 1.2rem;
}
.storage {
  width: 100%;
  height: 0.3rem;
  border: 2px solid #0096ff;
}
.space {
  width: 100%;
  height: 0.2rem;
  background: #0096ff;
}

.local {
  display: flex;
  padding-right: 1rem;
}
