* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Roboto, Oxygen;
  color: whitesmoke;
}

svg {
  fill: fill="#c9c9c9" !important;
}

h4 {
  cursor: default;
  font-weight: 500;
  font-size: 14px;
}

#background-image {
  background-size: cover;
}

.btn-origanl {
  color: black;
  padding: 4px;
  border: 1px solid #b1b1b1;
  background: #f6f6f6;
  border-radius: 4px;
  cursor: pointer;
}

body {
  overflow: hidden;
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.background img {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -999;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* taskbar */
.theme {
  background-color: rgba(0, 0, 0, 0.4) !important;
  -webkit-backdrop-filter: blur(32px) !important;
          backdrop-filter: blur(32px) !important;
}

.taskbar {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 10;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ico {
  width: 26px;
  padding: 10px 7px 2px 7px;
  -webkit-filter: brightness(1.1);
  filter: brightness(1.1);
}

.ico:hover {
  -webkit-filter: brightness(1.2) !important;
  filter: brightness(1.2) !important;
}

.ico:active {
  -webkit-filter: brightness(1.4) !important;
  filter: brightness(1.4) !important;
}

.right {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: absolute;
  right: 0;
  color: #3f3f3f;
}

.right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
  right: 0;
  height: 100%;
  width: 15rem;
  color: #3f3f3f;
}

.right-icon {
  width: 1.5rem;
}

.time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 0.7rem;
  font-weight: 400;
  text-align: right;
}

.notify {
  width: 2rem;
}

/* video */
#vid {
  width: 100%;
  height: 100%;
}

.show-desktop {
  width: 15px;
  height: 100%;
  border: 0.1px solid transparent;
  background: transparent;
  position: relative;
}

.show-desktop:hover {
  border-right: 0.1px solid whitesmoke;
  border-spacing: 13px;
}

.wrap {
  padding: 6px 6px;
}

.taskbar-icon-wrap {
  padding: 8px 10px;
}

.taskbar-icon-wrap:hover {
  border-radius: 3px;
  background: #ffffff21;
}

.taskbar-icon-wrap:active {
  -webkit-animation: Taskber-icon-open 300ms ease-in;
          animation: Taskber-icon-open 300ms ease-in;
}

@-webkit-keyframes Taskber-icon-open {
  0% {
    -webkit-transform: scale(75%) translateY(-3px);
            transform: scale(75%) translateY(-3px);
  }
  50% {
    -webkit-transform: translateY(-3px) scale(100%);
            transform: translateY(-3px) scale(100%);
  }
}

@keyframes Taskber-icon-open {
  0% {
    -webkit-transform: scale(75%) translateY(-3px);
            transform: scale(75%) translateY(-3px);
  }
  50% {
    -webkit-transform: translateY(-3px) scale(100%);
            transform: translateY(-3px) scale(100%);
  }
}

/*
0%{
    transform: scale(75%)translateY(-3px);
  }
  50%{
    transform: translateY(-3px) scale(100%);
  }
0%{}
45%{}
90%{}
100%{}
*/
.cover {
  cursor: default;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.wrap:hover {
  border-radius: 3px;
  background: #f0f8ff2e;
}

#start {
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

#start:active {
  -webkit-transform: scale(65%);
          transform: scale(65%);
  -webkit-filter: brightness(0.5%);
          filter: brightness(0.5%);
}

.icons {
  margin: 0rem 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  padding: 6px;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  place-content: center;
}

.icon {
  width: 35px;
}

.icon-name {
  font-size: 13px;
  cursor: default;
}

.top-bar {
  /* width: 100%; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 3rem;
  padding-bottom: 1rem;
}

.recomended {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 3rem;
  /*padding: 2rem 3rem;*/
}

.recommended-apps {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  min-height: 11rem;
  padding: 0 2rem;
}

.app-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: right;
  padding: 0 4px;
}

.app-info p {
  font-size: 0.7rem;
  cursor: default;
}

.app-text .app-desc {
  cursor: default;
}

.app-text {
  font-weight: 400;
}

.cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.account {
  height: 3.5rem;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2.3rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #3f3f3f;
  bottom: -6rem;
}

.user-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.user-box img {
  background-size: cover;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: #e6e6e6;
  border: 0.2px solid whitesmoke;
}

.user-name {
  padding: 0 0.4rem 0 0.6rem;
  font-size: 1rem;
  cursor: default;
}

.power-options img {
  width: 2rem;
  cursor: default;
}

#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sidebar-item-text {
  font-weight: 200;
  font-size: .8rem;
}

.top-line {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-line .top-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
}

.top-line .top-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  padding: 0.5rem;
}

.top-line img {
  padding: 0 0.5rem;
  width: 1rem;
  height: 1rem;
}

/* #0096FF  - light */
/* #006AB4  - dark */
/* .select {
  background: #f5f6f8;
  border-top: 1px solid #c5c5c5;
  border-right: 1px solid #c5c5c5;
} */
.tab {
  cursor: default;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tab {
  padding: 0 0.8rem;
}

.tab:active {
  background: #0096ff;
}

main {
  width: 100%;
  height: auto;
  padding: 5px;
  text-align: justify;
}

h1 {
  padding-bottom: 5px;
}

.title-icon {
  padding: 0.3rem;
}

.baseline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #c5c5c5;
}

.explorer-header {
  background-color: rgba(0, 0, 0, 0.4) !important;
  -webkit-backdrop-filter: blur(32px) !important;
          backdrop-filter: blur(32px) !important;
}

.tab-img {
  width: 1.6rem;
  padding: 1.3rem 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0.2;
}

#main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #191919;
}

.aside {
  padding: 0.5rem 0.5rem;
  margin-bottom: 3rem;
  width: 20%;
  border-right: 1px solid #0000004d;
}

.bar-ico {
  width: 1.2rem;
  padding-right: 0.3rem;
}

.bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.2rem 0;
}

.indent-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.2rem 1rem;
}

.contented {
  width: 70%;
  padding: 0 1rem;
}

.folders,
.localdiscs {
  display: -ms-grid;
  display: grid;
  row-gap: 0.5rem;
  -ms-grid-columns: (minmax(15rem, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}

.folder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 1rem;
}

.folder-title {
  padding: 0.3rem 0.5rem;
  font-weight: 300;
  font-size: .85rem;
}

.folder-ico {
  width: 3rem;
}

.heading {
  font-weight: 600;
  font-size: 1.2rem;
}

.storage {
  width: 100%;
  height: 0.3rem;
  border: 2px solid #0096ff;
}

.space {
  width: 100%;
  height: 0.2rem;
  background: #0096ff;
}

.local {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 1rem;
}
/*# sourceMappingURL=style.css.map */